
<% layout("/layouts/boilerplate") %>    
    <link rel="stylesheet" href="/css/filter.css">
    <div class="filters-main">
        <div id="filters">
            <div class="left_img_button" id="slideButton" style="display: none;">
                <i class="fa-solid fa-angle-left"></i>
            </div>
            <a href="/listings/">
                <div class="filter ALL ps-2 pe-2">
                    <div><img src="/Icon/0.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p style="text-decoration: none;">ALL</p>
                </div>
            </a>
            <a href="/listings/filter/Crawler">
                <div class="filter Beachfront">
                    <div><img src="/Icon/Icon2.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Crawler</p>
                </div>
            </a>
            <a href="/listings/filter/HydraulicBreaker">
                <div class="filter Cabins">
                    <div><img src="/Icon/hammer.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>HydraulicBreaker</p>
                </div>
            </a>
            <a href="/listings/filter/Hammer">
                <div class="filter OMG">
                    <div><img src="/Icon/hammer.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Hammer&nbsp;</p>
                </div>
            </a>
            <a href="/listings/filter/Trencher">
                <div class="filter Lake">
                    <div><img src="/Icon/trench.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Trencher&nbsp;</p>
                </div>
            </a>
            <a href="/listings/filter/Tower">
                <div class="filter Design">
                    <div><img src="/Icon/tower.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Tower&nbsp;</p>
                </div>
            </a>
            <a href="/listings/filter/Cranes">
                <div class="filter Amazing-pools">
                    <div><img src="/Icon/crane.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Cranes</p>
                </div>
            </a>
            <a href="/listings/filter/Loader">
                <div class="filter Farms">
                    <div><img src="/Icon/Icon2.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Loader&nbsp;</p>
                </div>
            </a>
            <a href="/listings/filter/Rolers">
                <div class="filter Amazing-views">
                    <div><img src="/Icon/roller.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Rolers</p>
                </div>
            </a>
            <a href="/listings/filter/Lifter">
                <div class="filter Rooms">
                    <div><img src="/Icon/lift.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Lifter&nbsp;</p>
                </div>
            </a>
            <a href="/listings/filter/Vehicles">
                <div class="filter Lakefront">
                    <div><img src="/Icon/Icon2.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Vehicles</p>
                </div>
            </a>
            <a href="/listings/filter/ArticulatedBoom">
                <div class="filter Tiny-homes">
                    <div><img src="/Icon/11.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>ArticulatedBoom</p>
                </div>
            </a>
            <a href="/listings/filter/Loader">
                <div class="filter Countryside">
                    <div><img src="/Icon/Icon2.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Loader</p>
                </div>
            </a>
            <a href="/listings/filter/Asphalt">
                <div class="filter Treehouse">
                    <div><img src="/Icon/13.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Asphalt</p>
                </div>
            </a>
            <a href="/listings/filter/Trending">
                <div class="filter Trending">
                    <div><img src="/Icon/14.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Trending</p>
                </div>
            </a>
            <a href="/listings/filter/Skid">
                <div class="filter Tropical">
                    <div><img src="/Icon/eqip.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Skid</p>
                </div>
            </a>
            <a href="/listings/filter/Light">
                <div class="filter National-parks">
                    <div><img src="/Icon/light.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Light</p>
                </div>
            </a>
            <a href="/listings/filter/Excavator">
                <div class="filter Castles">
                    <div><img src="/Icon/Icon2.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Excavator</p>
                </div>
                </a>
            <a href="/listings/filter/ConcreteMixer">
                <div class="filter Camping">
                    <div><img src="/Icon/eqip.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>ConcreteMixer</p>
                </div>
                </a>
            <a href="/listings/filter/Dumper">
                <div class="filter Top-of-the-world">
                    <div><img src="/Icon/dumpher.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Dumper</p>
                </div>
                </a>
            <a href="/listings/filter/Trucks">
                <div class="filter Luxe">
                    <div><img src="/Icon/dumpher.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>&nbsp;Trucks&nbsp;</p>
                </div>
                </a>
            <a href="/listings/filter/Grader">
                <div class="filter Iconic-cities">
                    <div><img src="/Icon/eqip.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Grader Cities</p>
                </div>
                </a>
            <a href="/listings/filter/Rentals">
                <div class="filter Earth-homes">
                    <div><img src="/Icon/22.png" alt="icon" style="width: 25px; height: 25px;"></div>
                    <p>Rentals</p>
                </div>
            </a>
            <div class="right_img_button" id="slideButton">
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
        <div class="tax-toggle tax-filter-icon filterIcon me-2 ms-2 " onclick="filterClick()">
            <div class="form-check form-switch form-check-reverse pe-1" style="cursor: pointer;">
                <i class="fa-solid fa-sliders" id="filter-icon"></i>
                <label class="form-check-label" for="filter-icon" style="cursor: pointer;">Filters</label>
            </div>
        </div>
        <div class="tax-toggle tax-filter-icon-small filterIcon me-2 ms-2 " onclick="filterClick()">
            <div class="form-check form-switch form-check-reverse pe-0">
                <i class="fa-solid fa-sliders ps-1" id="filter-icon" style="cursor: pointer;"></i>
            </div>
        </div>
        <div class="tax-toggle tax-filter ">
            <div class="form-check form-switch form-check-reverse" >
                <input class="form-check-input tax-switch shadow-none" type="checkbox" role="switch" id="flexSwitchCheckDefault" style="cursor: pointer;">
                <label class="form-check-label changeAfter" for="flexSwitchCheckDefault" style="cursor: pointer; margin-top: 3px;">Availability</label>
            </div>
        </div>
    </div>
    <div class="tax-toggle tax-sticky">
        <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input tax-switch tax-sticky-sticky shadow-none" type="checkbox" role="switch" id="flexSwitchCheckDefaultS" style="cursor: pointer;">
            <label class="form-check-label changeAfter" for="flexSwitchCheckDefaultS" style="cursor: pointer;">Availability</label>
        </div>
    </div>
    <div class="row row-cols-xxl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1">
        <% for (const listing of allListing) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card index-res">
                    <div class="index-res-img">
                        <div class="card-img">
                            <img class="heart heart-r" src="/Icon/heart-red.png" alt="like" style="opacity: 1; z-index: 5;">
                            <img class="heart heart-b" src="/Icon/heart-black.png" alt="like" style="z-index: 6;">
                            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" />
                        </div>
                        <!-- set date  -->
                        <%
                        let day =Math.floor(Math.random() * 4 + 2);
                        let no = Math.floor(Math.random() * 28 + 1);
                        let date = (new Date('2023-11-01')).getDate() + no;         //today ----
                        let dateA = (new Date('2023-11-01')).getDate() + no + day;    //today + day ----
                        let month = Date().split(" ")[1];
                         %>
                        <div class="card-body mt-1 ms-2">
                            <p class="card-text" style="display: block;">
                                <b><%= listing.title %></b> <br>
                                <span>&nbsp;<%= listing.location %>, <%= listing.country %></span>
                                <span style="display: block;"><span class="tax-info">&nbsp;<%= day %> Available •</span> &nbsp;<%= date %>-<%- dateA %> &nbsp;&nbsp;<%= month %></span>
                                <span class="price-info"><span class=" fw-bold">&nbsp;&#8377;<%= listing.price.toLocaleString("en-IN") %> </span>  / month</span>
                                <i class="tax-info tax-underline ms-1"><i class="rs-sign"><b> &#8377;</i><%= (listing.price*1.18).toLocaleString("en-In") %></b> &nbsp;total after taxes</i>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
<script defer src="/js/filter.js"></script>
<script>

</script>
